@inherits FileUploadStageViewBase
@using Jpp.Common.Razor;

<button class="collapsible-trigger" @onclick="ToggleCollapse" style="background-color: @(StatusColor);">
    <h3 class="pipeline-h3">@Stage.StageName</h3>
    <h6 class="pipeline-h6">@Stage.Status</h6>
</button>
<div class="collapsible-child-content @(Expanded ? "collapsible-active" : "collapsible-inactive")" style="max-height: @(MaxHeight)px;)">
    <div style="padding: 18px 0px">
        <FileUpload OnUpload="UploadComplete"/>
        <br />
        <div hidden="@FileNotReady">
            <button @onclick="Confirm">Proceed</button>
        </div>
    </div>
</div>

